@tailwind base;
@tailwind components;
@tailwind utilities;
.banner-btn {
  margin: auto -10px;
}

.banner-btn a {
  width: 150px;
  height: 50px;
  text-decoration: none;
  display: inline-block;
  margin: 0 10px;
  padding: 9px 10px;
  color: #ffff;
  background: orangered;
  border: 1px solid #fff;
  position: relative;
  z-index: 1;
  transition: color 0.7s;
  border-radius: 7px;
}

.banner-btn a span {
  width: 0%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  z-index: -1;
  transition: 0.7s;
}

.banner-btn a:hover span {
  width: 100%;
  border-radius: 7px;
  border: 1px solid black;
}

.banner-btn a:hover {
  color: #000;
}

/* Chrome, Edge and Safari */

*::-webkit-scrollbar {
  width: 12px;
  width: 12px;
}

*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #ffffff;
}

*::-webkit-scrollbar-thumb {
  border-radius: 80px;
  background-color: #f76f0d;
  border: 1.5px solid #fff;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a0;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #a0a0a0;
}
